#header {
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    font-weight: 300;
    z-index: 99;
    transition: color .5s ease-in-out,background .5s ease-in-out;
}