#header {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: 300;
    z-index: 99;
    transition: color .5s ease-in-out,background .5s ease-in-out;
}

    #header .wrapper {
        display: flex;
        position: relative;
        max-width: 1340px;
        margin: 0 auto;
        padding: 30px 50px;
        box-sizing: border-box;
        align-items: center;
    }

    #header .mobile_menu {
        display: none;
    }

    #header ul.menu {
        display: flex;
        position: relative;
        margin: 0 -13px 0 0;
        padding: 0;
        font-size: calc(8pt + .05vw);
        text-transform: uppercase;
        text-align: right;
        letter-spacing: 2px;
        justify-content: flex-end;
        flex: 1 0 auto;
    }

    #header .menu li {
        display: block;
        position: relative;
        margin: 0;
        padding: 0 5px;
        list-style: none;
        flex: 0 1 auto;
    }

        #header .menu li a {
            display: block;
            position: relative;
            margin: 0;
            padding: 3px 8px;
            color: rgba(255,255,255,.8);
            text-decoration: none; /* Remove underline on hover */
            transition: color .5s ease-in-out;
        }

            #header .menu li a span {
                display: block;
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 0;
                height: 1px;
                background-color: #fff;
                transform: translateX(-50%);
                transition: width .5s ease-in-out;
            }

    #header .menu .submenu_wrapper .submenu li a {
        padding: 5px 0;
        white-space: nowrap;
        transition: color .25s ease-in-out;
        cursor: pointer;
    }

    #header:not(.locked) .submenu_wrapper {
        padding-top: 25px;
    }


.menu li:hover .submenu_wrapper .submenu {
    display: flex;
}

.has-submenu .submenu_wrapper {
    display: none;
    position: absolute;
}

.has-submenu:hover .submenu_wrapper {
    display: block;
}

    .has-submenu:hover .submenu_wrapper ul.submenu {
        display: flex;
        position: relative;
        flex-direction: column;
        margin: 0;
        padding: 5px 15px;
        font-size: calc(9pt + .05vw);
        text-transform: none;
        letter-spacing: 1px;
        text-align: center;
        background-color: rgba(0,10,12,.2);
        border: 1px rgba(255,255,255,.8) solid;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,10,12,.2);
        z-index: 2;
    }

a#logo {
    font-family: 'Julius Sans One',sans-serif;
    color: #fff;
    font-size: calc(16pt + .25vw);
    text-transform: uppercase;
    line-height: 1em;
    transition: color .5s ease-in-out;
    text-decoration: none; /* Remove underline on hover */
}

#contact-submenu .submenu {
    text-align: right;
}

#contact-submenu.submenu_wrapper {
    left: auto;
    right: 0;
    transform: translateX(0);
}
