#header {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: 300;
    z-index: 99;
    transition: color .5s ease-in-out,background .5s ease-in-out;
}

    #header.unlocked.white {
        text-shadow: 0 1px 1px rgba(0,0,0,.5);
    }

    #header.unlocked {
        animation: unlockHeader .5s ease-in-out 1 both;
    }

    #header .wrapper {
        display: flex;
        position: relative;
        max-width: 1340px;
        margin: 0 auto;
        padding: 30px 50px;
        box-sizing: border-box;
        align-items: center;
    }

    #header .mobile_menu {
        display: none;
    }

    #header ul.menu {
        display: flex;
        position: relative;
        margin: 0 -13px 0 0;
        padding: 0;
        font-size: calc(8pt + .05vw);
        text-transform: uppercase;
        text-align: right;
        letter-spacing: 2px;
        justify-content: flex-end;
        flex: 1 0 auto;
    }

    #header .menu li a {
        display: block;
        position: relative;
        margin: 0;
        padding: 3px 8px;
        color: rgba(255,255,255,.8);
        transition: color .5s ease-in-out;
    }

    #header .menu li {
        display: block;
        position: relative;
        margin: 0;
        padding: 0 5px;
        list-style: none;
        flex: 0 1 auto;
    }

        #header .menu li a span {
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 1px;
            background-color: #fff;
            transform: translateX(-50%);
            transition: width .5s ease-in-out;
        }

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

a, a:visited {
    color: #005fff;
    text-decoration: none;
    transition: color .15s ease-in-out;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.nav-menu {
    display: flex;
    position: relative;
    max-width: 90%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

    .nav-menu ul {
        display: flex;
        position: relative;
        margin: 0 -13px 0 0;
        padding: 0;
        font-size: calc(8pt + .05vw);
        text-transform: uppercase;
        text-align: right;
        letter-spacing: 2px;
        justify-content: flex-end;
        flex: 1 0 auto;
    }

    .nav-menu li {
        display: block;
        position: relative;
        margin: 0 20px;
        padding: 0 5px;
        list-style: none;
        flex: 0 1 auto;
    }

        /* Style the links without a button background */
        .nav-menu li a {
            text-decoration: none;
            color: #ffffff; /* Text color */
            transition: color 0.3s, border-bottom 0.3s; /* Add transition effect for color and underline */
            border-bottom: 2px solid transparent; /* Initially, set a transparent underline */
        }

            /* Change link appearance on hover */
            .nav-menu li a:hover {
                color: #ffffff; /* Text color on hover */
                border-bottom: 2px solid #ffffff;
            }

    .nav-menu img {
        max-width: 9%;
        padding-right:0px;
    }

a#logo {
    font-family: 'Julius Sans One',sans-serif;
    color: #fff;
    font-size: calc(16pt + .25vw);
    text-transform: uppercase;
    line-height: 1em;
    transition: color .5s ease-in-out;
}

/* Add a black background to elements with the "black-background" class */
.black-background {
    background-color: black;
    color: white; /* Optionally, change the text color to white for better readability */
}

