



.section {
    display: flex;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    z-index: 1;
}
.section.black {
    color: #fff;
    background-color: #000a0c;
}

.section.minhalf {
    min-height: 50%;
}

.section .wrapper.center {
        text-align: center;
    }

.section .wrapper {
        display: block;
        position: relative;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 50px 100px;
        text-shadow: 0 1px 2px rgba(0,0,0,.5);
        box-sizing: border-box;
        flex: 1 1 auto;
        z-index: 3;
    }

    

    .section.active .wrapper {
        animation: showSectionWrapper .5s ease-out .25s 1 both;
    }

        .section .wrapper p {
            font-size: calc(14pt + .05vw);
            line-height: 1.4em;
        }

#stat-highlight {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

#stat-highlight .stat .count {
    display: block;
    margin: 5px auto;
    font-size: calc(20pt + .25vw);
    font-weight: 400;
}

#stat-highlight .stat .label {
    display: block;
    max-width: 200px;
    margin-top: 15px;
    font-size: calc(6pt + .15vw);
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.4em;
}

#pull-quote {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-size: calc(14pt + .25vw);
    line-height: 1.4em;
}

    #pull-quote .source {
        margin-top: 5px;
        opacity: .8;
    }
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    z-index: 2;
}

.section.white {
    color: #000a0c;
    background-color: #fff;
}

.section.white .wrapper {
    text-shadow: 0 1px 2px rgba(255,255,255,.5);
}

.content.split.aligntop {
    align-items: flex-start;
}

.content.split {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

    .content.split .left {
        display: block;
        position: relative;
        width: 50%;
        padding-right: 25px;
        text-align: left;
        box-sizing: border-box;
        flex: 0 1 auto;
    }

    .content.split .right {
        display: block;
        position: relative;
        width: 50%;
        padding-left: 25px;
        text-align: left;
        box-sizing: border-box;
        flex: 0 1 auto;
    }

#user-image {
    display: block;
    position: relative;
    max-height: 600px;
    overflow: hidden;
}

img.fit {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

address {
    font-style: normal;
}

#user-contact {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    font-size: calc(10pt + .25vw);
    line-height: 1.4em;
}

#user-contact a {
    color: #000a0c;
}

#user-contact a:before, #user-contact div:before {
    display: inline-block;
    margin-right: 15px;
    font-family: iconmonstr-iconic-font;
    font-size: 1.1em;
    line-height: 1em;
    vertical-align: middle;
}

#user-contact > a, #user-contact > div {
    display: block;
    margin: 0;
    padding: 5px 0;
    flex: 0 1 auto;
}

header {
    display: block;
}
