#signup-footer {
    box-shadow: 0 -1px 3px rgba(0,0,0,.1);
}

    #signup-footer #signup-title {
        margin: 0;
        font-family: Amiri,serif;
    }

    #signup-footer .combo_item {
        max-width: 500px;
        margin: 0 auto;
    }

.form_group > .form_item {
    flex: 1 1 auto;
}

.form_item.combo_item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

    .form_item.combo_item > input {
        flex: 1 1 auto;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .form_item.combo_item > * {
        flex: 0 1 auto;
    }

    .form_item.combo_item > input + button {
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

.button.black, a.button.black, button.black, input[type=button].black, input[type=submit].black {
    color: #fff;
    background-color: #000a0c;
}

.button, a.button, button, input[type=button], input[type=submit] {
    display: inline-block;
    position: relative;
    top: 0;
    margin: 0;
    padding: 12px 25px;
    color: #000a0c;
    font-size: calc(11pt + .1vw);
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 300;
    line-height: 1em;
    background-color: transparent;
    border: 2px #000a0c solid;
    border-radius: 5px;
    box-sizing: border-box;
    white-space: nowrap;
    outline: 0;
    cursor: pointer;
    transform: translateY(0);
    transition: transform .15s ease-in-out,box-shadow .15s ease-in-out,background-color .15s,border-color .15s ease-in-out;
}

button {
    appearance: auto;
    font-style:;
    font-variant-ligatures:;
    font-variant-caps:;
    font-variant-numeric:;
    font-variant-east-asian:;
    font-variant-alternates:;
    font-variant-position:;
    font-weight:;
    font-stretch:;
    font-size:;
    font-family:;
    font-optical-sizing:;
    font-kerning:;
    font-feature-settings:;
    font-variation-settings:;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    writing-mode: horizontal-tb !important;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

input[type=email], input[type=password], input[type=text], textarea {
    display: block;
    position: relative;
    top: 0;
    margin: 0;
    padding: 12px 15px;
    color: #000a0c;
    font-size: calc(11pt + .1vw);
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 300;
    line-height: 1em;
    background-color: transparent;
    border: 2px #000a0c solid;
    border-radius: 5px;
    box-sizing: border-box;
    outline: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

input[type="email" i] {
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 2px;
}

input {
    font-style:;
    font-variant-ligatures:;
    font-variant-caps:;
    font-variant-numeric:;
    font-variant-east-asian:;
    font-variant-alternates:;
    font-variant-position:;
    font-weight:;
    font-stretch:;
    font-size:;
    font-family:;
    font-optical-sizing:;
    font-kerning:;
    font-feature-settings:;
    font-variation-settings:;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
}

.form_item {
    display: block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

#signup-title, h4 {
    font-size: calc(14pt + .5vw);
    font-weight: 300;
    line-height: 1.1em;
}

.content.center {
    text-align: center;
}

div {
    display: block;
}

#optin-response {
    max-width: 500px;
    margin: 0 auto;
}

.message:empty {
    display: none;
}

.content > .message {
    margin-bottom: 30px;
}

.message {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 12px 20px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    text-shadow: none;
    background-color: #000a0c;
    border-radius: 5px;
    box-sizing: border-box;
}

.form_group {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    width: 100%;
}
